@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* -----------------------------------------NavBar */

.navbar {
    margin-bottom: 0;
    border: 0;
    background-color: black;
    text-align: center;
}

.navbar-nav li {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand {
    height: 75px;
}

.navbar-brand img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.nav-item a {
    font-size: 1.2em;
    font-family: 'Exo', sans-serif;
    color: black !important;
}

.navbar ul li a:hover {
    color: #ffa500 !important;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* -----------------------------------------About */

.rope {
    width: 100%;
    height: auto;
    
}

@media (width: 1280px) {
    .rope {
        height: 600px;
    }
}

.container h2 {
    text-align: center;
    padding-top: 30px;
    color: #000;
    text-transform: uppercase;
}

.container p {
    text-align: center;
    padding-bottom: 50px;
    color: #000;
    font-size: 1.5em;
}

/* -----------------------------------------Contact Form */

#location-details {
    padding-top: 100px;
}

.opening-hour p {
    text-align: left;
    font-size: 1.4em;
}

.mapouter {
    margin-top: -50px;
}

.location-gym p {
    text-align: left;
    padding-top: 20px;
}

.container-fluid h3 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.center-form {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #ffa500;
}

/* create media queries so it look good on mobilephone */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

.hours-details {
    padding-top: 30px;
}

.hours-details h4 {
    text-transform: uppercase;
    font-weight: bold;
}

/* -----------------------------------------Classes */

.timetable-day {
    text-align: center;
    font-family: "Exo", sans-serif;
    font-size: 1.2em;
}

.timetable-day .time {
    border: 2px solid blue;
    list-style-type: none;
    margin: 10px;
    overflow: auto;
    background: #ffa500;
    border-radius: 10px 10px 10px 10px;
}


.day h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Exo", sans-serif;
    font-size: 1.2em;
    color: blue;
    padding-top: 15px;
}


@media (width: 1024px) {
    .timetable-day {
        width: 300px;
        padding-top: 50px;
    }
}

@media (width: 768px) {
    .timetable-day {
        width: 300px;
        padding-top: 50px;
    }
}

@media (max-width: 414px) {
    .timetable-day {
        margin-left: -20px;
        margin-right: 20px;
        padding-top: 15px;
    }
}

/* -----------------------------------------Membership & Training Cost */

.gym-background {
    width: 100%;
    padding-top: 75px;
    height: auto;
}

.class-content {
    padding-top: 10px;
    padding-bottom: 20px;
}

@media (min-width: 1024px) {
    .gym-background {
        height: 400px;
    }
}

/* -----------------------------------------Membership */

.membership-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    padding-top: 20px;
    color: blue;
    font-family: "Exo", sans-serif;
}


.membership-price {
    border: 2px solid blue;
    list-style-type: none;
    margin: 10px;
    overflow: auto;
    background: #ffa500;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    padding-top: 20px;
}


.membership-price h4 {
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
    font-weight: bold;
}

.membership-price p {
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
}

/* -----------------------------------------classes prices*/

.class-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    padding-top: 20px;
    color: blue;
    font-family: "Exo", sans-serif;
}


.class-price {
    border: 2px solid blue;
    list-style-type: none;
    margin: 10px;
    overflow: auto;
    background: #ffa500;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    padding-top: 20px;
}

.class-price p {
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
}

/* -----------------------------------------Personal Training */

.personal-tainer-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    padding-top: 20px;
    color: blue;
    font-family: "Exo", sans-serif;
}

.personal-trainer-price {
    border: 2px solid blue;
    list-style-type: none;
    margin: 10px;
    overflow: auto;
    background: #ffa500;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    padding-top: 20px;
}

.personal-trainer-price p {
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
}

.personal-trainer-price h4 {
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
    font-weight: bold;
}

/* -----------------------------------------gallery */

.section-gallery img {
    width: 384px;
    height: 200px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    position: relative;
}

.gallery {
    color: blue;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.row-gallery {
    text-align: center;
}

@media (max-width: 375px) {
    .section-gallery img {
        width: 100%;   
    }
}

@media (width: 1024px) {
    .section-gallery img {
        height: 350px;
        width: 500px;
        margin-left: -5px;   
    }
}


/* -----------------------------------------Footer */

.footer {
    background-color: #ffa500;
    color: #fafafa;
    text-align:center;
    bottom: 0;
}

.footer ul {
  padding-top:15px;
}

.footer p {
  padding-bottom: 15px;
  margin-bottom: 0;
}

.social-links {
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

.copyright {
    color: black;
    padding-top: 20px;
    text-align:center;
}

@media (width: 1024px) {
    .footer {
        position: fixed;
        bottom: 0;
    }
}

@media (width: 768px) {
    .footer {
        position: fixed;
        bottom: 0;
    }
}